Twitter Analysis for the top political candidates/parties in Kenya. Raila/Azimio, Ruto/UDA, Wajackoyah/Roots Party

The purpose of this analysis is to determine:
1 Which is the candidate with the most tweets, period- between the election date and the current date?
2 Tweet with the most likes, what was it about? Who tweeted it?
3 Tweet with the most retweets, what was it about? Who tweeted it?

In [2]:
#import libraries to scrape data and create the dataframe to store our data
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [3]:
# Set query
query = "(#Raila OR #Azimio) until:2022-09-04 since:2022-08-09"
tweets = []
limit = 40000

In [4]:
# Define the step to source our data
for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount, tweet.quoteCount, tweet.replyCount])
df = pd.DataFrame(tweets, columns = ['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])
df.to_csv("Azimio-Tweets.csv")

In [5]:
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-09-03 22:07:42+00:00,https://twitter.com/Luke79345686/status/156618...,Luke79345686,Twitter for Android,,@chrisotee @EtalePhilip #Azimio never bothered...,1,0,0,0
1,2022-09-03 21:45:15+00:00,https://twitter.com/Luke79345686/status/156618...,Luke79345686,Twitter for Android,,@EtalePhilip You (#azimio) used your time with...,0,0,0,0
2,2022-09-03 21:24:32+00:00,https://twitter.com/victoroduorany2/status/156...,victoroduorany2,Twitter for Android,"Nairobi, Kenya",Lethal team. #azimio https://t.co/PYXKPDtd6a,0,0,0,0
3,2022-09-03 19:34:16+00:00,https://twitter.com/Osoro20Fred/status/1566147...,Osoro20Fred,Twitter for Android,"Kiamokama, Kenya",Kwani hamuogopii teargals.... It's your turn t...,2,0,0,0
4,2022-09-03 19:17:35+00:00,https://twitter.com/Sily951/status/15661433849...,Sily951,Twitter for iPhone,,@HEBabuOwino @RaphaelTujuEGH #SupremeCourt sho...,0,0,0,0

In [6]:
print("Number of rows :", df.shape[0],"Number of columns:", df.shape[1])

Number of rows : 4265 Number of columns: 10

In [7]:
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count  4265.000000    4265.000000  4265.000000  4265.000000
mean      7.222040       0.991794     0.060023     0.564361
std      65.370902       7.990301     0.523517     5.477152
min       0.000000       0.000000     0.000000     0.000000
25%       0.000000       0.000000     0.000000     0.000000
50%       1.000000       0.000000     0.000000     0.000000
75%       2.000000       0.000000     0.000000     0.000000
max    2333.000000     304.000000    17.000000   191.000000